.orden{
	display: none;
}
#modaleditar .preview{
	background-size:cover;
	background-repeat: no-repeat;
	height: 240px;
	position: relative;
}
#modaleditar .preview.pL{
	background-position:center right; 
}
#modaleditar .preview.pC{
	background-position:center center; 
}
#modaleditar .preview.pR{
	background-position:center left; 
}

#modaleditar .preview img.msg{
	height: 100%;
	width: auto;
	display: block;
}
#modaleditar .preview.pC img.msg{
	margin: auto;
}
#modaleditar .preview.pL img.msg{
	margin-left: 10%;
}
#modaleditar .preview.pR img.msg{
	margin-right: 10%;
	margin-left: auto;
}